@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
}

.cm-error-underline {
  background-color: rgba(255, 0, 0, 0.15);
  border-bottom: 3px wavy #ff0000;
  text-decoration: underline wavy #ff0000;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  font-weight: bold;
}

.dark .cm-error-underline {
  background-color: rgba(255, 80, 80, 0.25);
  border-bottom-color: #ff5050;
  text-decoration-color: #ff5050;
}
